In [10]:
import pandas as pd

In [11]:
path = 'D:/Learn/projects/data/job_data/mine/'
file = 'companies_info.csv'

In [12]:
df = pd.read_csv(f'{path}{file}')
df.head(3)

,company_name,company_url,clean_url,Name,Followers,Overview,Website,Verified page,Industry,Company size,...,Founded,Specialties,Commitments,Posts,Where they live,Where they studied,What they do,What they are skilled at,What they studied,URL
0,Amazon Web Services (AWS),https://www.linkedin.com/company/amazon-web-se...,https://www.linkedin.com/company/amazon-web-se...,Amazon Web Services (AWS),"('10M followers',)","Launched in 2006, Amazon Web Services (AWS) be...",http://aws.amazon.com,1-Mar-23,IT Services and IT Consulting,"10,001+ employees",...,2006.0,NaN,[],210.0,"['68,042 United States', '20,138 Washington, U...","['1,712 University of Washington', '1,133 Geor...","['55,063 Engineering', '25,988 Information Tec...","['37,867 Python (Programming Language)', '34,4...","['30,111 Computer Science', '26,393 Computatio...",https://www.linkedin.com/company/amazon-web-se...
1,NYC Department of Housing Preservation & Devel...,https://www.linkedin.com/company/nyc-dept.-of-...,https://www.linkedin.com/company/nyc-dept.-of-...,NYC Department of Housing Preservation & Devel...,"('21K followers',)","Established in 1978, the New York City Departm...",http://www.nyc.gov/hpd,1-Nov-24,Government Administration,"1,001-5,000 employees",...,1978.0,"Affordable Housing, Architecture and Planning,...",[],166.0,"['1,326 United States', '1,272 New York City M...","['52 Hunter College', '45 Baruch College', '37...","['344 Community and Social Services', '223 Pro...","['396 Microsoft Office', '300 Microsoft Excel'...","['83 City/Urban, Community and Regional Planni...",https://www.linkedin.com/company/nyc-dept.-of-...
2,TCW,https://www.linkedin.com/company/thetcwgroup?t...,https://www.linkedin.com/company/thetcwgroup/,TCW,"('20K followers',)",TCW is a leading global asset management firm ...,http://www.TCW.com,31-May-24,Financial Services,"501-1,000 employees",...,1971.0,Investment Management and Asset Management,[],155.0,"['735 United States', '537 California, United ...","['34 UCLA', '22 USC Marshall School of Busines...","['192 Business Development', '172 Finance', '8...","['180 Microsoft Excel', '154 Fixed-Income Inve...","['125 Finance, General', '106 Economics', '67 ...",https://www.linkedin.com/company/thetcwgroup/

In [14]:
df['Industry'].value_counts()[:20]

Industry
Staffing and Recruiting                 193
Financial Services                      122
Hospitals and Health Care                86
IT Services and IT Consulting            80
Software Development                     65
Insurance                                37
Business Consulting and Services         36
Real Estate                              36
Higher Education                         33
Retail                                   27
Government Administration                23
Banking                                  19
Defense and Space Manufacturing          19
Technology, Information and Internet     19
Information Technology & Services        17
Biotechnology Research                   15
Construction                             14
Manufacturing                            14
Motor Vehicle Manufacturing              13
Hospitality                              12
Name: count, dtype: int64

In [17]:
df[(df['Industry']=='Staffing and Recruiting') & (df['Members']>1) & (df['Verified page'].notna())]

,company_name,company_url,clean_url,Name,Followers,Overview,Website,Verified page,Industry,Company size,...,Founded,Specialties,Commitments,Posts,Where they live,Where they studied,What they do,What they are skilled at,What they studied,URL
3,Jobot,https://www.linkedin.com/company/jobot?trk=pub...,https://www.linkedin.com/company/jobot/,Jobot,"('3M followers',)",Jobot is built on kindness + respect. Employee...,http://Jobot.com,24-Jul-24,Staffing and Recruiting,"501-1,000 employees",...,2018.0,"technology, recruiting, AI, artificial intelli...",[],175.0,"['927 United States', '245 California, United ...","['14 California State University, Fullerton', ...","['259 Human Resources', '153 Operations', '97 ...","['318 Recruiting', '317 Leadership', '276 Cust...","['66 Business Administration and Management, G...",https://www.linkedin.com/company/jobot/
4,Robert Half,https://www.linkedin.com/company/robert-half-i...,https://www.linkedin.com/company/robert-half-i...,Robert Half,"('4M followers',)","Robert Half, the world’s first and largest spe...",https://www.roberthalf.com,15-Aug-23,Staffing and Recruiting,"10,001+ employees",...,1948.0,"consulting services, accounting jobs, finance ...",[],192.0,"['24,608 United States', '5,019 California, Un...","['457 University of Phoenix', '156 San Francis...","['6,388 Human Resources', '5,261 Accounting', ...","['8,815 Customer Service', '8,787 Microsoft Of...","['3,085 Accounting and Related Services', '2,8...",https://www.linkedin.com/company/robert-half-i...
8,Atlantic Group,https://www.linkedin.com/company/the-atlantic-...,https://www.linkedin.com/company/the-atlantic-...,Atlantic Group,"('304K followers',)","Atlantic Group, founded in 2006, is an industr...",http://atlanticrecruiters.com,12-Sep-23,Staffing and Recruiting,51-200 employees,...,2006.0,"Finance & Accounting, Real Estate & Constructi...",[],143.0,"['238 United States', '95 New York City Metrop...","['5 University at Albany', '4 Syracuse Univers...","['189 Operations', '63 Business Development', ...","['67 Leadership', '64 Recruiting', '57 Managem...","['21 Accounting and Related Services', '20 Acc...",https://www.linkedin.com/company/the-atlantic-...
17,StevenDouglas,https://www.linkedin.com/company/stevendouglas...,https://www.linkedin.com/company/stevendouglashq/,StevenDouglas,"('252K followers',)","StevenDouglas, one of the nation's leading Sea...",http://www.stevendouglas.com,31-May-24,Staffing and Recruiting,51-200 employees,...,1983.0,"Finance & Accounting, Financial Services, Info...",[],141.0,"['321 United States', '167 Florida, United Sta...","['15 University of Florida', '11 Nova Southeas...","['98 Human Resources', '65 Operations', '59 Fi...","['151 Management', '138 Recruiting', '132 Lead...","['54 Accounting and Related Services', '46 Acc...",https://www.linkedin.com/company/stevendouglashq/
22,Proven Recruiting,https://www.linkedin.com/company/proven-recrui...,https://www.linkedin.com/company/proven-recrui...,Proven Recruiting,"('195K followers',)",We connect talented people with meaningful car...,http://www.provenrecruiting.com,31-May-24,Staffing and Recruiting,51-200 employees,...,2007.0,"Information Technology, Finance & Accounting, ...","['Diversity, equity, and inclusion']",139.0,"['83 United States', '47 California, United St...","['4 UC San Diego', '4 San Diego State Universi...","['38 Human Resources', '19 Business Developmen...","['33 Leadership', '31 Recruiting', '29 Custome...","['8 Accounting and Related Services', '7 Accou...",https://www.linkedin.com/company/proven-recrui...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1139,Pride Health,https://www.linkedin.com/company/pride-health?...,https://www.linkedin.com/company/pride-health/,Pride Health,"('74K followers',)",Pride Health is a leading minority-owned healt...,http://pride-healthcare.com/,27-Jan-25,Staffing and Recruiting,51-200 employees,...,2010.0,"Healthcare, Allied Health, Nursing, Social Ser...",[],13.0,"['322 United States', '177 New York City Metro...","['12 Delhi University', '5 The Maharaja Sayaji...","['124 Human Resources', '101 Healthcare Servic...","['122 Recruiting', '100 Communication', '85 Cu...","['18 Business/Commerce, General', '18 Business...",https://www.linkedin.com/company/pride-health/
1144,24 Seven Talent,https://www.linkedin.com/company/24seventalent...,https://www.linkedin.com/company/24seventalent/,24 Seven Talent,"('871K followers',)",24 Seven is one of the largest talent solution...,http://www.24seventalent.com,15-Jun-23,Staffing and Recruiting,201-500 employees,...,2000.0,"Marketing, Advertising, Digital, E-commerce, T...",[],13.0,"['1,004 United States', '655 India', '293 Unit...","['31 Michigan State University', '19 FIDM', '1...","['514 Sales', '455 Operations', '358 Education...","['412 Customer Service', '300 Sales', '298 Mic...","['65 Business Administration and Management, G...",https://www.linkedin.com/company/24seventalent/
1153,AccruePartners,https://www.linkedin.com/company/accruepartner...,https://www.linkedin.com/company/accruepartners/,AccruePartners,"('88K followers',)","At the forefront of Talent Solutions, AccruePa...",http://www.accruepartners.com,12-Sep-23,Staffing and Recruiting,51-200 employees,...,2002.0,"Executive Search, Accounting & Finance, Inform...",[],3.0,"['146 United States', '109 North Carolina, Uni...",['8 University of North Carolina at Charlotte'...,"['42 Human Resources', '21 Accounting', '20 In...","['55 Customer Service', '53 Microsoft Office',...","['17 Business Administration and Management, G...",https://www.linkedin.com/company/accruepartners/
1155,US Tech Solutions,https://www.linkedin.com/company/us-tech-solut...,https://www.linkedin.com/company/us-tech-solut...,US Tech Solutions,"('933K followers',)",USTECH SOLUTIONS is the largest privately owne...,http://www.ustechsolutions.com,12-Sep-23,Staffing and Recruiting,"1,001-5,000 employees",...,2000.0,"Total Workforce Solutions, Engineering, Scient...",[],13.0,"['1,084 India', '1,000 United States', '425 Ne...","['51 Delhi University', '35 Osmania University...","['863 Human Resources', '323 Information Techn...","['531 Recruiting', '416 Technical Recruiting',...","['121 Computer Science', '115 Computational Sc...",https://www.linkedin.com/company/us-tech-solut...
1195,Dahl Consulting,https://www.linkedin.com/company/dahl-consulti...,https://www.linkedin.com/company/dahl-consulting/,Dahl Consulting,"('173K followers',)","At DAHL, “It’s the People” is more than a tagl...",http://www.dahlconsulting.com,12-Sep-23,Staffing and Recruiting,51-200 employees,...,1993.0,"WorkforceSolutions, Sourcing, Staffing, VMS, a...",[],13.0,"['117 United States', '81 Greater Minneapolis-...","['10 University of Minnesota', '8 St. Cloud St...","['26 Human Resources', '24 Business Developmen...","['46 Leadership', '37 Management', '37 Custome...","['8 Business Administration and Management, Ge...",https://www.linkedin.com/company/dahl-consulting/