In [1]:
import pandas as pd
from datetime import datetime
from utils2 import refine, reduce_rows, remove_companies

In [2]:
# read data
now = datetime.now()
date = now.strftime('%m%d%Y')
path = 'D:/Learn/projects/data/job_data/mine/'
data_file = f'{path}linkedin_jobs_data_{date}.csv'
print(data_file)

# df_remote = pd.read_csv(f'{path}dataset_linkedin-jobs-scraper---remote_2025-01-29_01-01-44-745.csv')
# df_remote['workPlace'] = 'remote'
# df_hybrid = pd.read_csv(f'{path}dataset_linkedin-jobs-scraper---hybrid_2025-01-29_01-02-00-602.csv')
# df_hybrid['workPlace'] = 'hybrid'
# df_onsite = pd.read_csv(f'{path}dataset_linkedin-jobs-scraper---onsite_2025-01-29_01-03-37-177.csv')
# df_onsite['workPlace'] = 'onsite'
# df = pd.concat([df_remote, df_hybrid], axis=0, ignore_index=True)
# df = pd.concat([df, df_onsite], axis=0, ignore_index=True)
df = pd.read_csv(data_file)
print(df.shape)
df.info(3)

D:/Learn/projects/data/job_data/mine/linkedin_jobs_data_02042025.csv
(691, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691 entries, 0 to 690
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_id           691 non-null    int64
 1   job_title        691 non-null    object
 2   job_url          691 non-null    object
 3   job_location     691 non-null    object
 4   company_name     691 non-null    object
 5   company_url      691 non-null    object
 6   posted_date      689 non-null    object
 7   workplace        691 non-null    object
 8   salary           318 non-null    object
 9   description      691 non-null    object
 10  seniority_level  691 non-null    object
 11  employment_type  691 non-null    object
 12  job_function     689 non-null    object
 13  industries       689 non-null    object
dtypes: int64(1), object(13)
memory usage: 75.7+ KB

In [3]:
# remove empty and duplicated data
df1 = refine(df)
# df1.to_csv('jobs.csv', index=False)
df2 = reduce_rows(df1)
df3 = remove_companies(df2, path)
df_to_apply = df2[(df2['workplace']=='remote') | (df2['job_location'].str.contains('WI', na=False)) | (df2['job_location'].str.contains('Milwaukee', na=False))].drop(columns=['description'])
df_to_apply.to_csv(f'{path}to_apply_{date}.csv', index=False)
df_to_apply.info()

droped empty rows, remaining 691
droped duplicates, remaining 665
Company dropped:  135            Applicantz
157       RemoteWorker CA
329      GalaxE.Solutions
371    American Unit, Inc
Name: company_name, dtype: object
<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 490
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_id           195 non-null    int64
 1   job_title        195 non-null    object
 2   job_url          195 non-null    object
 3   job_location     195 non-null    object
 4   company_name     195 non-null    object
 5   company_url      195 non-null    object
 6   posted_date      195 non-null    object
 7   workplace        195 non-null    object
 8   salary           71 non-null     object
 9   seniority_level  195 non-null    object
 10  employment_type  195 non-null    object
 11  job_function     195 non-null    object
 12  industries       194 non-null    object
dtypes: int64(1), object(12)
memory usage: 21.3+ KB